:host{
    ion-img{
        height: 70vh !important;
        width:100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:10px;
    }
    ion-button ion-icon{
        font-size: 2rem !important;
    }
    form{
        margin-top:20px;
    }
}