<ion-header>
    <ion-toolbar class='ion-text-center' color='primary'>
      <ion-title>{{mode}}</ion-title>
      <ion-buttons slot='end'>
        <ion-button (click)='colse()'>
          <ion-icon name="close" slot='icon-only'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col class="ion-text-center">
            <div>
              <ion-label color='primary' class='ion-text-capitalize'>{{indicator.indicatorName}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-text-center">
            <div>
              <ion-label  color='primary' >Unit</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <div>
                    <ion-input type='number'
                     [(ngModel)]='indicator.value' required max='200'
                     ></ion-input>
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <ion-label >
                  {{indicator.unit}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <div>
                <ion-icon name="calendar"  color='primary' ></ion-icon>
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <ion-icon name="clock"  color='primary' ></ion-icon>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <div>
                <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <ion-datetime display-format="HH:mm:ss" [(ngModel)]="time"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-row class=ion-justify-content-center>
        <ion-col class="ion-text-center" size='4' *ngIf='!isUpdate'>
          <div *ngIf="!indicator.value">
            <ion-button fill='clear'>
              <ion-icon name='add' slot='icon-only'></ion-icon>
            </ion-button>
          </div>
          <div *ngIf="indicator.value">
            <ion-button fill='clear' (click)='addRecord(indicator)'>
              <ion-icon name="done-all" slot='icon-only'></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='4' *ngIf='isUpdate'>
          <div *ngIf="!indicator.value">
            <ion-button fill='clear'>
              <ion-icon name="create" slot='icon-only'></ion-icon>
            </ion-button>
          </div>
          <div *ngIf="indicator.value">
            <ion-button fill='clear' (click)='updateRecord(indicator)'>
              <ion-icon name="done-all" slot='icon-only'></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='4' *ngIf='isUpdate'>
          <div>
            <ion-button fill='clear' (click)='deleteRecord(indicator)'>
              <ion-icon name="trash" slot='icon-only'></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  
  </ion-footer>