
<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" padding>
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="timelinePosts.length">
    <ion-item-group *ngFor="let timelinePost of timelinePosts; index as i">
      <ion-item-divider sticky='true' class="text-primary" padding>
        {{timelinePost.createdDate}}
      </ion-item-divider>
      <ion-card *ngFor='let post of timelinePost.posts; index as j'>
        <ion-card-content class="ion-no-padding">
          <ion-text class="ion-padding">
            {{post.description}}
          </ion-text>
          <ion-img src="data:image/jpeg;base64,{{post.postImage.data}}" alt=""></ion-img>
          <ion-grid>
            <ion-row class="ion-justify-content-start">
              <ion-col class="ion-no-padding">
                <rating rate="{{post.rating}}" readonly="true" size="default">
                </rating>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-align-self-center  text-primary ">
                <ion-button fill="clear" (click)="gotoCommentPage(post._id,i,j)">
                  <ion-icon slot='start' name="text"></ion-icon>
                  {{post.comments.length}} comments
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="gotoNewPostPage()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>