ion-img{
    width:100%;
    height: 200px;
    margin-top: 10px;
    display: block;
    border-radius: 10%
}

ion-list ion-item-group ion-item-divider{
    font-size: 1.5em;
    font-weight: bold;
}
