<ion-content class=ion-margin>
  <ion-grid>
    <ion-row class='ion-no-padding'>
      <ion-col class='ion-text-center'>
        <h5>
          IT'S TIME TO STEP UP<br />
          TO<br />
          THE CHALLENGE
        </h5>
      </ion-col>
    </ion-row>
    <ion-row class='ion-no-padding'>
      <ion-col>
        <ion-label class='ion-text-center'>
          <p>
            Be motivated to achieve your<br />
            goals through fun health challenges.
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-group *ngIf="activeChallenges?.length>0">
    <ion-row class='ion-content-justify-start'>
      <ion-col size='8' class='ion-text-start'>
        <h5> MY DAILY CHALLENGES</h5>
      </ion-col>
    </ion-row>
    <div class='ion-margin'>
      <ion-card *ngFor='let activeChallenge of activeChallenges' class='ion-text-wrap'
        (click)="goto_challenge_detail(activeChallenge._id)">
        <ion-card-header class='ion-padding-start'>
          <ion-card-title class='ion-text-start ion-text-capitalize'>Rate {{activeChallenge.categoryName}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-padding-start">
          <ion-grid>
            <ion-row class='ion-row-border'>
              <ion-col size='6' class="ion-text-center ion-col-border">
                <ion-label>Start Date</ion-label>
              </ion-col>
              <ion-col size='6' class="ion-text-center">
                <ion-label>End Date</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size='6' class="ion-text-center ion-col-border">
                <ion-label color='dark'>{{activeChallenge.startDate|date}}</ion-label>
              </ion-col>
              <ion-col size='6' class="ion-text-center">
                <ion-label color='dark'>{{activeChallenge.endDate|date}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class='ion-align-items-center' *ngIf="activeChallenge.averageRating>0">
              <ion-col size='7'>
                <div>
                  <ion-label>
                    Average coach rating:
                  </ion-label>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-label class='ion-label-font-size' color='dark'>
                    {{activeChallenge.averageRating}}
                  </ion-label>
                </div>
              </ion-col>
              <!-- <ion-col>
                <div>
                  <ion-icon name="heart" color='primary'></ion-icon>
                </div>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-item-group>
  <ion-item-group>
    <ion-row class='ion-content-justify-start'>
      <ion-col size='8' class='ion-text-start'>
        <h5>ALL CHALLENGES</h5>
      </ion-col>
    </ion-row>
    <ion-card *ngFor='let challenge of allChallenges' class='ion-text-wrap'
      [routerLink]="['./challengeCategories',challenge?._id]">
      <ion-card-header class='ion-padding'>
        <ion-card-title>
          <ion-label class='ion-text-capitalize'> {{challenge.name}}</ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]='challenge?.image'></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-item-group>
</ion-content>