
.chart-container{
    width:100vw;
    height: 40vh;
}
.ion-col-border{
    border-right:1px solid
}
ion-content{
    --background: linear-gradient(60deg, #e8eaf3 45%, rgb(253, 246, 246) 45%) fixed !important;
}
//control ion-slide
ion-slide{
    width:100vw !important;
}
ion-slides{
    width:100vw !important;
}
