// ion-content {
//     --background: url('/assets/img/coach-home-background.jpeg') no-repeat center/cover  fixed;
// }
 
.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  ion-avatar {
    height: 60px;
    width: 60px
}
ion-item {
    --background: transparent;
}

