<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab="timeline">
      <ion-label>Timeline</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-label>Dashboard</ion-label>
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="message">
      <ion-label>Chat</ion-label>
      <ion-icon name="chatboxes"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name='contact'></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>