<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button tab="coachee-home" *appHasRole="['freeCoachee','premiumCoachee']">
      <ion-label>Home</ion-label>
      <ion-icon name="custom-icon-home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard" *appHasRole="['freeCoachee','premiumCoachee']">
      <ion-label>Record</ion-label>
      <ion-icon name="custom-icon-record-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="challenges" *appHasRole="['freeCoachee','premiumCoachee']">
      <ion-label>Challenge</ion-label>
      <ion-icon name='custom-icon-challenge-outline'></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="menu" *appHasRole="['freeCoachee','premiumCoachee']">
      <ion-label>Menu</ion-label>
      <ion-icon name='custom-icon-menu-outline'></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>