ion-thumbnail {
    --border-radius: 50%;
}
ion-item-divider {
    --background: #00bcd4;
    border-radius: 5px;
}

h5 {
    padding: left 10px !important;
}

ion-avatar {
    width: 50px;
    height: 50px
}

ion-content {

    --background: linear-gradient(-60deg, #e8eaf3 45%, rgb(253, 246, 246) 45%) fixed !important;
}

ion-item-group {
    background-color: transparent !important;

    ion-item {
        --background: transparent !important;
    }

    ion-card {
        --background: transparent !important;
    }
}

ion-badge {
    --background: var(--ion-color-secondary);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

ion-fab-button {
    height: 40px;
    width: 40px;
}

.volume-high-icon {
    font-size: 30px;
}

.volume-high-length {
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
}
ion-title{
    padding-left:16px
}
.content-container {
    border-radius: 30px 30px 0 0;
    height: 100%;
    overflow:scroll;

}

ion-toolbar{
    --background:transparent !important;
    --border-width:0px !important;

}
:host{
    background-color: var(--ion-color-secondary);
}
