<ion-header>
  <ion-toolbar slot='start'>
    <ion-title class='ion-text-center ion-no-padding' color="dark">
      UP COACH
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-container">
  <div *ngIf="isImageLoaded" class="content-container">
    <!-- habit list  -->
    <ion-card>
      <ion-item-group>
        <ion-item lines='none' class='ion-margin'>
          <ion-avatar style='display: inline-block'>
            <img [src]="coachProfile">
          </ion-avatar>
          <ion-label>
            Your Coach<br>
            <small>
              {{currentUser?._coach.firstName}} {{currentUser?._coach.lastName}}
            </small>
          </ion-label>
          <ion-button slot='end' fill='outline' shape="round" size="default" color='primary' (click)="goto_chat()">
            Chat
          </ion-button>
        </ion-item>
        <ion-item lines='none' class='ion-margin-horizontal'>
          <circle-progress [percent]=completedHabitPercent>
          </circle-progress>
          <ion-button slot='end' size="default" fill='outline' shape="round"
            [routerLink]="['/coachee/coachee-home/habitlist']" routerDirection="forward">
            Log habits
          </ion-button>
        </ion-item>
      </ion-item-group>
    </ion-card>
    <!-- challenges -->
    <ion-item-group>
      <ion-item-divider color="secondary">
        <h5>
          MY DAILY CHALLENGES
        </h5>
      </ion-item-divider>
      <ion-card>
        <div *ngIf="activeChallenges.length>0" class='ion-margin'>
          <ion-item *ngFor='let activeChallenge of activeChallenges' detail lines='none' class='ion-text-wrap'
            (click)="goto_challenge_detail(activeChallenge._id)">
            <ion-thumbnail slot="start">
              <img [src]='activeChallenge.categoryImage'>
            </ion-thumbnail>
            <ion-label>{{activeChallenge.categoryName}}</ion-label>
          </ion-item>
        </div>
        <div *ngIf="!activeChallenges.length>0">
          <ion-card [routerLink]="['/coachee/challenges']">
            <ion-card-content>
              <ion-label class='ion-text-center'>
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-card>
    </ion-item-group>
    <!-- healthy tips -->
    <ion-item-group>
      <ion-item-divider color="secondary">
        <h5>
          UP TIPS
        </h5>
      </ion-item-divider>
      <div *ngIf="healthyTips.length">
        <ion-card *ngFor="let tip of healthyTips">
          <img [src]="tip.image">
          <ion-card-header>
            <ion-card-title class='ion-text-capitalize' color='primary'>
              {{tip?.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-wrap">
            {{tip?.description}}
          </ion-card-content>
          <ion-button fill='clear' size='small' (click)=" goto_healthy_tip(tip?.url)" class="ion-text-uppercase">
            Read more
          </ion-button>
        </ion-card>
      </div>
    </ion-item-group>
    <ion-infinite-scroll threshold="40px" (ionInfinite)="load_more_healthyTips($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goto_chat()" #cart>
      <div *ngIf='unReadMessageNumber>0' class="volume-high-length">{{ unReadMessageNumber}}</div>
      <ion-icon name="volume-high" class="volume-high-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Skeleton screen -->
  <div *ngIf="!isImageLoaded">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>