<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title color='light'>new Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate>
    <ion-item>
      <ion-label position='floating'>What's on your mind</ion-label>
      <ion-textarea rows="2" name="description" [(ngModel)]='newPost.description'></ion-textarea>
    </ion-item>
    <ion-item *ngIf="newPost.imgData">
      <ion-img src="data:image/jpeg;base64,{{newPost.imgData}}" alt=""></ion-img>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color='primary' (click)='takePicture()'>
        <ion-icon name='camera' style='margin-right: 20px'></ion-icon>
      </ion-button>
      <ion-button color='primary' (click)="selectPicture()">
        <ion-icon name='image'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="createNewPost(newPost)">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>