<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>{{status}}</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='closeNoteModal()'>
        <ion-icon name="close" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]='noteForm' novalidate (ngSubmit)='onSubmit()'>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color='primary'>TITLE</ion-label>
        <ion-textarea rows='3' spellCheck='true' formControlName="title"
          [ngClass]="{'is-valid':isSubmitted && noteForm.controls['title'].errors}">
        </ion-textarea>
      </ion-item>
      <div *ngIf="isSubmitted && noteForm.controls['concluded'].errors" padding class="invalid-feedback">
        <div *ngIf=" noteForm.controls['concluded'].errors.required">concluded is required</div>
      </div>
      <ion-item>
        <ion-label position="stacked" color='primary'>DISCUSSED</ion-label>
        <ion-textarea rows='3' spellCheck='true' formControlName="discussed"
          [ngClass]="{'is-valid':isSubmitted && noteForm.controls['discussed'].errors}">
        </ion-textarea>
      </ion-item>
      <div *ngIf="isSubmitted && noteForm.controls['discussed'].errors" padding class="invalid-feedback">
        <div *ngIf="noteForm.controls['discussed'].errors.required">discussed is required</div>
      </div>
      <ion-item>
        <ion-label position="stacked" color='primary'>CONCLUDED</ion-label>
        <ion-textarea rows='3' spellCheck='true' formControlName="concluded"
          [ngClass]="{'is-valid':isSubmitted && noteForm.controls['concluded'].errors}">
        </ion-textarea>
      </ion-item>
      <div *ngIf="isSubmitted && noteForm.controls['concluded'].errors" padding class="invalid-feedback">
        <div *ngIf=" noteForm.controls['concluded'].errors.required">concluded is required</div>
      </div>
      <ion-item>
        <ion-label position="stacked" color='primary'>NEXT</ion-label>
        <ion-textarea rows='3' spellCheck='true' formControlName="next"
          [ngClass]="{'is-valid':isSubmitted && noteForm.controls['next'].errors}">
        </ion-textarea>
      </ion-item>
      <div *ngIf="isSubmitted && noteForm.controls['next'].errors" padding class="invalid-feedback">
        <div *ngIf=" noteForm.controls['next'].errors.required">next step is required</div>
      </div>
    </ion-list>
    <div class='ion-padding ion-margin'>
      <ion-button color='primary' size='large' expand="block" type="submit">Submit</ion-button>
    </div>
  </form>
</ion-content>