<ion-header>
  <ion-toolbar class="text-primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>change password</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="submitPasswordForm()">
        save
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="passwordForm" novalidate>
      <ion-item lines="inset">
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-input formControlName="currentPassword" type="password" placeHolder="current password"
          [ngClass]="{ 'is-invalid': isSubmitted&& passwordForm.controls['currentPassword'].errors }"> </ion-input>
      </ion-item>
      <div *ngIf="isSubmitted&& passwordForm.controls['currentPassword'].errors" padding>
        <div *ngIf="passwordForm.controls['currentPassword'].errors.required">Password is required</div>
        <div *ngIf="passwordForm.controls['currentPassword'].errors.minlength">Password must be at least 6 characters
        </div>
      </div>
      <ion-item lines="inset">
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-input formControlName="newPassword" type="password" placeHolder="new password"
          [ngClass]="{ 'is-invalid': isSubmitted&& passwordForm.controls['newPassword'].errors }"></ion-input>
      </ion-item>
      <div *ngIf="isSubmitted&& passwordForm.controls['newPassword'].errors" padding>
        <div *ngIf="passwordForm.controls['newPassword'].errors.required">Password is required</div>
        <div *ngIf="passwordForm.controls['newPassword'].errors.minlength">Password must be at least 6 characters</div>
      </div>
      <ion-item lines="inset">
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-input formControlName="retypePassword" type="password" placeHolder="re-type password"
          [ngClass]="{ 'is-invalid': isSubmitted&& passwordForm.controls['retypePassword'].errors }"></ion-input>
      </ion-item>
      <div *ngIf="isSubmitted&& passwordForm.controls['retypePassword'].errors" padding>
        <div *ngIf="passwordForm.controls['retypePassword'].errors.required">Password is required</div>
        <div *ngIf="passwordForm.controls['retypePassword'].errors.mustMatch">Passwords must match</div>
      </div>
    </form>
  </ion-list>
</ion-content>