<ion-content class='ion-margin'>
  <ion-slides [options]="slideOpts" pager='true'>
    <ion-slide>
      <ion-grid>
        <ion-row class='ion-margin'>
          <ion-col>
            <ion-label>
              <h1>
                STEP INTO THE<br>
                UP COMMUNITY
              </h1>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class='ion-padding'>
          <ion-col>
            <div>
              <p>
                A great place where friendships meet
                professional coaching so that
                becomming healthy becomes more fun and desirable.
                because we believe that empowering healthy programmes
                should be accessible to everyone.
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin">
          <ion-col class='ion-text-center'>
            <div>
              <ion-label color="primary">Swipe right to move on </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-label>
          Just a few more questions.<br />
          We really want to know you.
        </ion-label>
        <ion-card>
          <ion-card-content>
            <ion-label class='ion-margin-bottom'><b>Do you participate in physical activity?</b></ion-label>
            <ion-radio-group [(ngModel)]="physicalActivityState">
              <ion-grid>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="yes" (ionSelect)="getPhysicalActivityState($event)"></ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      Yes
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="no" (ionSelect)="getPhysicalActivityState($event)"></ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      No
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-label class='ion-margin-bottom'><b>How active are you in your daily life?</b></ion-label>
            <ion-radio-group [(ngModel)]="dailyActivityLevel">
              <ion-grid>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="walking around all day" (ionSelect)="getDailyActivityLevel($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I am on my feet or walking around all day.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="mix between sitting and walking"
                      (ionSelect)="getDailyActivityLevel($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      It's a mix between sitting and walking or standing.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="walking in the evening" (ionSelect)="getDailyActivityLevel($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I am seated down for the majority of the day, but walk in the evening.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="seated down all day and evening"
                      (ionSelect)="getDailyActivityLevel($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I am seated down all day and for the majorityof the evening.
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-card>
          <ion-card-content>
            <ion-label class='ion-margin-bottom'><b>Are you eating nutritiously enough?</b></ion-label>
            <ion-radio-group [(ngModel)]="nutriotionHabitsState">
              <ion-grid>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="yes" (ionSelect)="getNutriotionHabitsState($event)"></ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      Yes
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="no" (ionSelect)="getNutriotionHabitsState($event)"></ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      No
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="not sure" (ionSelect)="getNutriotionHabitsState($event)"></ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      Not sure
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-label class='ion-margin-bottom'><b>Which sentence best describes?</b></ion-label>
            <ion-radio-group [(ngModel)]="motivationStage">
              <ion-grid>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="not need to lose weight" (ionSelect)="getMotivationStage($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I don't think I need to lose weight.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="lose weight but have no idea"
                      (ionSelect)="getMotivationStage($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I plan to lose weight but I haven't thought about what I would do.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="start to my weight lost journey by next month" (ionSelect)="getMotivationStage($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I plan to start to my weight lost journey by next month.
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center ">
                  <ion-col size='2'>
                    <ion-radio mode="md" value="making changes to my lifestyles"
                      (ionSelect)="getMotivationStage($event)">
                    </ion-radio>
                  </ion-col>
                  <ion-col>
                    <div>
                      I have started making changes to my lifestyle.
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row class='ion-margin'>
          <ion-col class='ion-text-center'>
            <div>
              <ion-label>
                <h1>
                  WELCOME TO THE<br>
                  UP COMMUNITY
                </h1>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class='ion-padding'>
          <ion-col>
            <div>
              <p>
                We're sure you'll enjoy journalling about your health
                programme or reading this articles selected by our UP
                Coaches
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class='ion-padding'>
          <ion-col>
            <div>
              <p>
                If you've signed up for an UP
                Programme,keep a look out for
                our friendly UP Coached who will be
                in contract with you in no time
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-label class='ion-padding'>
          <ion-col>
            <div>
              <ion-label>
                CHEERING YOU ON.
                YOUR UP COMMUNITY
              </ion-label>
            </div>
          </ion-col>
        </ion-label>
        <ion-row class="ion-justify-content-center ion-margin">
          <ion-col size='4' class='ion-text-center'>
            <div>
              <ion-button expend='block' shape='round' (click)="submitInfo()">GO</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>