.ion-label-font {
    font-size: 1.5em
}

.ion-row-margin {
    margin-top: 80px;
}

ion-slide {
    width: 100vw !important;
}

ion-slides {
    width: 100vw !important;
    height: 100%
}

ion-item {
    --background: transparent
}

ion-slides {
    ion-slide:first-child {

        background: linear-gradient(-60deg, #fdf1df 45%, rgb(253, 246, 246) 45%) !important;
    }

    ion-slide:nth-child(2) {

        background: linear-gradient(135deg,#e8eaf3 50%, rgb(253, 246, 246) 50%) !important;
    }

    ion-slide:nth-child(3) {

        background: linear-gradient(-60deg,#fdf1df 45%, rgb(253, 246, 246) 45%) !important;
    }

    ion-slide:last-child {
        background: linear-gradient(30deg, rgb(253, 246, 246) 40%, #e8eaf3 40%, #e8eaf3 100%) !important;
    }
}

ion-button {
    width: 100% !important;
}

ion-card {
    --color: black
}

ion-list {
    width: 100%;
    background-color: transparent
}