ion-list ion-item{
    color: var(--ion-color-primary);
    --background:transparent !important;
}
ion-icon{
     color: var(--ion-color-primary);
}

ion-avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
ion-content{
    --background: linear-gradient(30deg, rgb(253, 246, 246) 40%,#fdf1df 40%,#fdf1df 100%) !important;
}  
ion-list{
    background-color:transparent !important;
   
}