<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-avatar>
            <ion-img [src]="currentUser?.profileImage?.data || noavatar "></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <h3 class="text-primary">{{currentUser.firstName}}{{currentUser.lastName}}</h3>
          <ion-note class="text-primary">{{currentUser.email}}</ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item lines="none" routerLink="/coachee/menu/profile">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>my profile</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>contact us</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="lock"></ion-icon>
      <ion-label>privacy policy</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-label>rating us</ion-label>
    </ion-item>
  </ion-list>
</ion-content>