
ion-avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

ion-content {
    --background: linear-gradient(30deg, rgb(253, 246, 246) 40%, #fdf1df 40%, #fdf1df 100%) !important;
}

ion-list {
    background-color: transparent !important;
    ion-item {
        --background: transparent !important;
    }
}
ion-icon {
    color: var(--ion-color-primary) ;
}
ion-toolbar{
    --background:transparent !important;
    --border-width:0px !important
}

ion-header{
    position:static
}