<ion-header>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label >
          <h2 class="text-primary">Item avair</h2>
         <ion-note class="text-primary" style="font-size: 0.7em">
            email address
         </ion-note> 
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>