<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-button (click)=' close_comment_modal()'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let comment of comments; index as i" slot="start">
      <ion-avatar>
        <img [src]="comment?.sender?.image || noavatar" alt="">
      </ion-avatar>
      <ion-label class='ion-text-wrap'>
        <h5>
          <b><small>{{comment.sender.firstName}} {{comment.sender.lastName}}</small></b> {{comment.content}}
        </h5>
        <ion-note style="font-size: 0.7em">
          {{comment.createDate | timeAgo}}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <form [formGroup]='commentForm' novalidate (ngSubmit)=submit_comment_form()>
      <ion-row class='ion-no-padding ion-align-items-center'>
        <ion-col size="10">
          <ion-textarea placeholder="add comment"  class='comment-input' auto-grow='false' rows="1" spellCheck='true' formControlName='content'>
          </ion-textarea>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="block" fill="clear" type='submit' [disabled]='commentForm.invalid'>
            <ion-icon name="ios-send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-footer>