<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class='ion-text-capitalize'>{{challengeCategory?.name}}</ion-title>
    <ion-buttons slot='end'>
        <ion-button  [routerLink]="['./histories']">
          <ion-icon name="time" slot='icon-only'></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="challengeCategory">
    <ion-card>
      <ion-img [src]="challengeCategory?.image"></ion-img>
      <ion-card-header>
        <ion-card-title>
          Description
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          {{challengeCategory?.description}}
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
   <!-- Skeleton screen -->
   <div *ngIf="!challengeCategory">
      <ion-card>
        <ion-card-content>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <h3>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size='12' class='ion-text-center ion-text-uppercase ion-no-padding'>
        <ion-button fill='outline' (click)='create_new_challenge()' [disabled]='isActive||!isMember'>
          Join
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>