<ion-content>
	<ion-grid>
		<ion-row class="justify-content-center">
			<ion-col class="ion-align-self-center">
				<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<ion-item>
						<ion-label position="floating">Email</ion-label>
						<ion-input type="email" formControlName="email" clear-input=true
							[ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }"></ion-input>
					</ion-item>
					<div *ngIf="isSubmitted && f.email.errors" class="ion-padding invalid-feedback">
						<div *ngIf="f.email.errors.required">Email is required</div>
						<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
					</div>
					<ion-item>
						<ion-label position="floating">Password</ion-label>
						<ion-input type="password" formControlName="password" class="form-control" clear-input=true
							[ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }">
						</ion-input>
					</ion-item>
					<div *ngIf="isSubmitted && f.password.errors" class="ion-padding invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
						<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
					</div>
					<div class="ion-text-right ion-margin forgetpassword_btn">
						<ion-button fill='clear' color='dark' (click)="create_forget_password_modal()">
							Forget password?
						</ion-button>
					</div>
					<div class='ion-padding'>
						<ion-button color='light' shape='round' expand="block" type="submit">LOGIN</ion-button>
					</div>
				</form>
			</ion-col>
		</ion-row>
		<div class='ion-padding'>
			<ion-button shape='round' expand="block" (click)="goto_register_page()">SIGN UP
			</ion-button>
		</div>
	</ion-grid>
</ion-content>