.fw700 {
    font-weight: 700 !important;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

ion-grid {
    width: 100%;
    padding-top: 40vh
}

ion-content {
    // --background: linear-gradient(-60deg, rgb(136, 190, 49) 30%, rgb(253, 246, 246) 30%, rgb(253, 246, 246) 70%,rgb(49, 138, 190) 70%, rgb(49, 138, 190) 100%) !important;
    --background: url('/assets/img/UPhealth.png') no-repeat center / cover
}

ion-item {
    --background: transparent;
}

//#8edee9, #8fd1da, #76d2de, #7ee4f, #5dd9e9 
ion-grid>div ion-button{
    --background: #5dd9e9
}
.forgetpassword_btn ion-button{
    --color:#5dd9e9
}
