ion-content{
   
     --background: linear-gradient(30deg, #e8eaf3 40%, rgb(253, 246, 246) 40%, rgb(253, 246, 246) 70%, #fdf1df 70%, #fdf1df 100%) !important;
}
ion-item{
    --background: transparent !important
}
ion-list{
    background: transparent !important;
}
