<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>My Scheduled Habits</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let habit of habits;  index as i" >
      <ion-item detail lines='none' (click)='edit_habit(habit,i)'>
        <div class="habit-title">
          <ion-label class="ion-text-wrap">{{habit.name}}</ion-label>
        </div>
      </ion-item>
      <ion-card-content class='ion-no-padding'>
        <ion-grid class='ion-margin-bottom'>
          <ion-row class="ion-justify-content-between">
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>
                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Sunday')">
                  Sun
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>
                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Monday')">
                  Mon
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>

                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Tuesday')">
                  Tue
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>

                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Wednesday')">
                  Wed
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>
                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Thursday')">
                Thu
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>

                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Friday')">
                Fri
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='1.5' class="ion-align-self-center ion-text-center">
              <div>
                <ion-label class='circle' [ngStyle]="change_backgroundcolor(habit,'Saturday')">
                  Sat
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-button fill='clear' (click)="add_habit()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>