
.label-font {
    font-size: 1.5em
}

ion-list ion-item-sliding ion-item ion-card {
    width: 100% !important;
}

.habit-title {
    margin: 0px 20px;
}

.modal-week-label {
    font-size: 0.8em;
    color: #baccb4;
    margin: 20px 0px 30px 20px;

}
.circle {
    display: block;
    border-radius: 50%;
    background-color: #f1f7ef;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border: 1px dot;
    margin:auto

}
ion-label::first-letter {
    text-transform: uppercase !important;
}

ion-content{
    --background: linear-gradient(30deg, rgb(253, 246, 246) 40%,#fdf1df 40%,#fdf1df 100%) !important;
} 
ion-list{
    background-color:transparent !important;
}

ion-item{
    --background:transparent !important;
}