<ion-header>
  <ion-toolbar class='ion-text-center' color='secondary'>
    <ion-title>{{mode}}</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='closeModal()'>
        <ion-icon name="close" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]='habitForm' novalidate (ngSubmit)="submit_habit_form()">
    <ion-grid>
      <ion-row class='ion-padding'>
        <ion-col>
          <div>
            <ion-item lines='inset'>
              <ion-label position="floating">
                Type in your desired habit
              </ion-label>
              <ion-textarea formControlName='name'></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-padding">
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Sunday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Sunday.value)">
              Sun
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Monday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Monday.value)">
              Mon
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Tuesday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Tuesday.value)">
              Tue
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-align-self-center ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Wednesday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Wednesday.value)">
              Wed
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Thursday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Thursday.value)">
              Thu
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Friday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Friday.value)">
              Fri
            </ion-label>
          </div>
        </ion-col>
        <ion-col size='1.5' class="ion-text-center">
          <div class='day-position'>
            <ion-checkbox formControlName="Saturday"></ion-checkbox>
            <ion-label class='circle' [ngStyle]="change_background_color(habitForm.controls.Saturday.value)">
              Sat
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class=ion-justify-content-center>
        <ion-col class="ion-text-center" size='10' *ngIf='!isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" type="submit">Add</ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='6' *ngIf='isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" type="submit">Update</ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='6' *ngIf='isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" (click)='deleteHabit(habitForm)'>Delete</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>