


//control ion-slide

.chart-container{
    width:100vw;
    height: 40vh;
}

ion-content ion-grid:first-of-type ion-row ion-col:first-of-type{
    border-right:1px solid #f4a933
}

ion-content ion-grid:first-of-type ion-row ion-col:last-of-type{
    border-left:1px solid #f4a933
}
