<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{indicator.indicatorName}}</ion-title>
    <ion-buttons slot='end' *ngIf='isCoachee'>
      <ion-button (click)="getHistory()">
        <ion-icon name="time" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-margin">
        <ion-row>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'>60 Kg</ion-label>
          </ion-col>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'>54 Kg</ion-label>
          </ion-col>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'>6 Kg</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'><small>Goal</small></ion-label>
          </ion-col>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'><small>Latest</small></ion-label>
          </ion-col>
          <ion-col size='4' class="ion-text-center">
            <ion-label color='primary'><small>Change</small></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row class='ion-justify-content-between ion-align-items-center'>
            <ion-col size='2'>
              <ion-button fill="clear" (click)="getPreMonth()">
                <ion-icon mode='md' name="arrow-dropleft" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <ion-label color='primary'>
                  {{currentMonth| date:'MMM/yyyy'}}
                </ion-label>
              </div>
            </ion-col>
            <ion-col size='2'>
              <ion-button fill="clear" (click)="getNextMonth()" [disabled]="isLastMonth">
                <ion-icon mode='md' name="arrow-dropright" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class='chart-container'>
                <canvas #monthChartCanvas 
                id="monthChartCanvas"></canvas>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"  *ngIf='isCoachee'>
    <ion-fab-button (click)="addRecord()"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>