<ion-header>
  <ion-toolbar color="secondary">
    <ion-grid class='ion-margin' *ngIf='!isAdmin'>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="button-container">
            <ion-avatar>
              <img [src]="coachProfile"/>
            </ion-avatar>
            <ion-button class='edit-photo-button' color='dark' fill="outline" shape="round" size="small"
              (click)=" update_profileImage()">
              Edit
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class='ion-text-center'>
          <div>
            <ion-label class="ion-text-uppercase" color='dark'>
              specialities:
            </ion-label>
            <ion-label *ngFor="let item of coach.specialities" class='ion-text-capitalize' color='dark'>
              {{item.speciality}}
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6' class='ion-text-center'>
          <ion-label color="dark">
            {{enrolledNumber}}<br />
            <small>Enrolled</small>
          </ion-label>
        </ion-col>
        <ion-col size='6' class='ion-text-center'>
          <ion-label color="dark">
            {{expiredNumber}}<br />
            <small>Expired</small>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <div *ngIf='!isNameFormShow'>
        <ion-item lines="full">
          <ion-icon slot="start" name="person" color='primary'></ion-icon>
          <ion-label>Name</ion-label>
          <ion-button slot="end" fill="clear" (click)="togglerNameForm()">
            <ion-icon slot="icon-only" name="create" color='primary'></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="full">
          <ion-label>
            {{coach?.firstName}} {{coach?.lastName}}
          </ion-label>
        </ion-item>
      </div>
      <form [formGroup]='nameForm' novalidate (ngSubmit)='submitNameForm()' *ngIf='isNameFormShow'>
        <ion-item lines="full">
          <ion-icon slot="start" name="person" color='primary'></ion-icon>
          <ion-label>Name</ion-label>
          <ion-button slot="end" fill="clear" type="submit" color='primary' [disabled]="nameForm.invalid">save</ion-button>
          <ion-button slot="end" fill="clear" (click)="cancle()" color='primary'>cancle </ion-button>
        </ion-item>
        <ion-item>
          <ion-input formControlName='firstName' type='text'>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName='lastName'></ion-input>
        </ion-item>
      </form>
    </ion-card>
    <ion-card>
      <ion-item lines="full">
        <ion-icon slot="start" name="mail" color='primary'></ion-icon>
        <ion-label>Email</ion-label>
        <ion-button slot="end" fill="clear" [disabled]=true>
          <ion-icon slot="end" name="lock" color='primary'></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="full">
        <ion-label>
          {{coach?.email}}
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="full">
        <ion-icon slot="start" name="key" color='primary'></ion-icon>
        <ion-label>change password</ion-label>
        <ion-button slot="end" fill="clear" [routerLink]="['./changePassword']">
          <ion-icon slot="icon-only" name="create" color='primary'></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="full">
        <ion-icon slot="start" name="log-out" color='primary'></ion-icon>
        <ion-button color='dark' size="default" fill="clear" (click)="logout()">
          Log out
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>