ion-content{
    --background: linear-gradient(-60deg,#e8eaf3  45%, rgb(253, 246, 246) 45%) fixed !important;
} 
ion-list{
    background-color:transparent !important;
}
 ion-radio {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.day-position {
    position: relative;
}

.circle {
    border: 1px dot;
    background-color:#f4a933;
}

ion-row:nth-child(2) {
    border-bottom: 1px solid var(--ion-color-medium);
}
.ion-label-css{
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    margin:auto
}

