// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-button {
    --background-activated: var(--ion-color-primary) !important
}

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

ion-icon {
    &[name*='custom-'] {
        height: 1em;
        width: 1em;
    }

}
.invalid-feedback {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

.is-invalid {
    color: red
}

.week-day-circle {
    display: block;
    border-radius: 50%;
    background-color: #f1f7ef;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    border: 1px dot;

}

.habitlist-weekview-css {
    width: 100%
}

.day-header-week {
    // background-color: lightcoral;
    text-transform: uppercase;
    color: #f4a933;
    padding-bottom: 10px
}

.day .circle label {
    color: #f4a933;
    padding: 10px;
}

.custom-popover .popover-content {
    width: 80%
}