<ion-content>
  <ion-grid>
    <ion-row class='ion-margin'>
      <ion-col class='ion-text-center'>
        <ion-label>
          <h1 class="ion-margin">Forgot password?</h1>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='ion-text-center'>
        <div>
          We will send a instructions to change<br />
          your password on the following email:
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]='forgetPasswordForm' novalidate (ngSubmit)="onSubmit()">
    <ion-item class='ion-margin'>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName='email' [ngClass]="{'in-valid':isSubmitted&&f.email.errors}"></ion-input>
    </ion-item>
    <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback ion-padding">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    <ion-row class='ion-margin'>
      <ion-col size='6' class="ion-text-center">
        <ion-button color='primary' shape='round' (click)="close_modal()">cancel</ion-button>
      </ion-col>
      <ion-col size='6' class='ion-text-center'>
        <ion-button color='primary' shape='round' type="submit">send</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>