<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color='primary' size='large' expand="full" (click)="skip()">SKIP</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <ion-slides [options]="slideOptions" pager="true" #tipsSlider (ionSlidesDidLoad)="slidesDidLoad(tipsSlider)">
      <ion-slide *ngFor="let slide of imageSlides">
        <img [src]="slide.mediaUrl" alt="">
      </ion-slide>
    </ion-slides>
</ion-content>
