
ion-slide img {
    height: 100%;
    width: 100% !important;
}
ion-slides {
    height: 90vh !important;
    --bullet-background:var( --ion-color-secondary);
    --bullet-background-active: yellow;
 }