<ion-header>
  <ion-toolbar class='ion-text-center'>
    <ion-title class="ion-text-capitalize">{{indicator.name}}</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='colse_modal()'>
        <ion-icon name="close" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]='newRecordForm' novalidate (ngSubmit)="submit_record_form()">
    <ion-grid>
      <ion-row>
        <ion-col size='6' class="ion-text-center ion-col-border">
          <ion-label>Value</ion-label>
        </ion-col>
        <ion-col size='6' class="ion-text-center">
          <ion-label>Unit</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class='ion-row-border'>
        <ion-col size='6' class="ion-text-center ion-col-border">
          <ion-input type='text' formControlName='value' placeholder="input value"></ion-input>
        </ion-col>
        <ion-col size='6' class="ion-text-center">
          <ion-label>{{indicator.unit}}</ion-label>
        </ion-col>
      </ion-row>
      <div *ngIf="isSubmitted && f.value.errors" class='invalid-feedback ion-padding'>
        <div *ngIf="f.value.errors.required">value is required</div>
        <div *ngIf="f.value.errors.pattern">value is invalid</div>
      </div>
      <ion-row>
        <ion-col size='6' class="ion-text-center">
          <div>
            <ion-label>Date</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-row-border">
        <ion-col size='6' class="ion-text-center">
          <div>          
              <ion-datetime display-format="MMM DD, YYYY" formControlName="createDate"></ion-datetime>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="isSubmitted&& f.createDate.errors" class="invalid-feedback ion-padding">
        <div *ngIf="f.createDate.errors.required">date is required</div>
      </div>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size='10' *ngIf='!isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" type="submit">Add</ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='6' *ngIf='isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" type="submit">Update</ion-button>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size='6' *ngIf='isUpdate'>
          <div class='ion-padding ion-margin'>
            <ion-button expand="block" (click)='delete_record()'>Delete</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>